*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen';
}

.navbar{
    background: rgb(85, 85, 85);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: sticky;
    z-index: 100;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 50px;
}

#navbarLogo{
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 32px;
} 

.navbarMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-link{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.nav-link:hover{
    color:antiquewhite;
    transition: all 0.3s ease;
}

