
.background-AboutMe{
    background-color: #121212;
    /* background-image:url(../images/stars.svg); */
    height: 100vh;
}


.image{
    font-family: 'Jura';
    padding: 0px 0px 100px 0px;
    text-align: center;
}

.profile-image{
    width: 400px;
    height: auto;
    border-radius: 50em;
}

#aboutme{
    font-family: 'Jura';
    position: relative;
    justify-content: center;
    padding: 10px 50px;
    background-color: #1F1B24;
    width: 75vw;
    border-radius: 25px;
    font-size: 30px;
    color: white;
}