@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Jura&family=Silkscreen&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
.background{
    background:  linear-gradient(#64c8e6, #9198e5);
    /* background: linear-gradient(#461937,#c4a1e4); */

}

.background-image{
    background:url(../images/stars.svg);
}
/* Intro */
#intro-name{
    text-align: center;
    color:azure;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}


#name{
    text-align: center;
    font-size: 100px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: azure;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    backdrop-filter: blur(1px);
    animation: slide-up 1.5s ease;
    
}

#title{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    color: white;
    animation: slide-up 2.5s ease;
}

#icons{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    animation: slide-up 3s ease;
}

.intro-icons{
    color: azure;
    font-size: 2em;
}

.icon-spacing{
    padding:10px;
}

.container{
    left:0;
    padding-top:10%;
    width:100%;
}

.what-do-container{
    padding-top: 5%; 
}
.what-do{
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    padding: 30px 50px;
    font-family: "Jura";
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
    /* text-rendering: optimizeLegibility; */
    text-shadow: 0.02em 0 rgb(134, 134, 134);


    animation: slide-up 4s ease;

}

.intro-container{
    padding-bottom: 50vh;
}

/* Projects */
.projects{
    /* width: 100%; */
    text-align: center;
    padding-bottom: 5%;
}

.project-title-section{
    font-size: 50px;
    /* padding-top: 5%; */
    color: azure;
}


.project-links-ul{
    width: 100%;
    column-count: auto;
    padding-left: 0px;
    
}

.project-links{
    list-style: none;
    /* padding: 40px; */
    display: inline-block;
    vertical-align: top;
    padding: 15px 0px;
}
.projects-title{
    font-size: 35px;
    padding: 0px 15px;
}

.project-container{    
    font-family: 'Jura';
    border-radius: 50px;
    padding: 50px;
    width: 400px;
    height: 400px;
    background-color: rgb(255,255,255,0.25);
    
}

.project-container .title-icon-container{
    display: flex;
    justify-content: center;
}

.project-description{
    text-align: justify;
    font-family: "Jura";
}

.projects-icon{
    font-size: 3em;
    color: azure;
    -webkit-transform: perspective(1px), translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.project-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}


.bob:hover{
    color: rgb(95, 159, 255);
    -webkit-animation-name: bob-float, bob;
    animation-name: bob-float,bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
}

.hidden{
    opacity: 0;
    transition: all 1.5s ease-in;
}
.show{
    opacity: 1;
}

/* Utility classes */
.slide-up{
    animation: slide-up 2s ease-in;
}

@keyframes slide-up{
    /* from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    } */
    0%{
        transform: translateY(50px);
        opacity: 0.2;
    }
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@-webkit-keyframes bob{
    0%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
    50%{
        -webkit-transform:translateY(-2px);
        transform: translateY(-2px);
    }
    100%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob{
    0%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
    50%{
        -webkit-transform:translateY(-2px);
        transform: translateY(-2px);
    }
    100%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes bob-float{
    100%{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-float{
    100%{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px){
    #name{
        font-size: 70px;
    }

    /* #title{
        font-size: 15px;
    } */

    /* .intro-icons{
        font-size: 2.5em;
    } */

    .what-do{
        font-size: 15px;
        width: 80vw;
        padding: 20px 30px;
    }
    
    .project-links{
        padding: 10px;
    }
    
    
    .project-description{
        display:none;
    }
    
    .project-container{
        width: 300px;
        padding: 30px;
        height: 80px;
    }
    
    .projects-title{
        font-size: 15px;
    }
    
    .projects-icon{
        font-size: 1.5em;
    }
    
}
                      
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #name{
        font-size: 85px;
    }
    /* #title{
        font-size: 18px;
    } */

    /* .intro-icons{
        font-size: 2.5em;
    } */

    .what-do{
        width: 80vw;
    }
    
    /* .project-links{
        padding: 15px
    } */

    .projects-title{
        font-size:15px;
        
    }
    

    .project-container{
        width: 350px;
        padding: 35px;
        height: 100px;
    }
    
    
    .project-description{
        display: none;
    }
    
    .projects-icon{
        font-size: 2em;
    } 
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

    #name{
        font-size: 90px;
    }
    /* #title{
        font-size: 20px;
    } */

    /* .intro-icons{
        font-size: 2.8em;
    } */

    .what-do{
        width: 85vw;
        font-size: 15px;
        line-height: 30px;
    }

    .project-container{
        width: 80vw;
        height: auto;
        padding: 18px;
    }

    .project-description{
        display:flex;
        font-size: 16px;
        padding: 15px;
    }

    .projects-title{
        font-size: 22px;
    }

    .project-links{
        /* padding: 15px 0px; */
    }
    
    .projects-icon{
        font-size: 2.5em;
    }

    .title-icon-container{
        padding-top: 10px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    #name{
        font-size: 95px;
    }

    /* #title{
        font-size: 22px;
    } */

    .what-do{
        width: 60vw;
        line-height: 30px;
    }
    
    .project-title-section{
        font-size: 55px;
    }

    .project-links{
        padding: 25px 10px;
    }
    
    .project-container{
        width: 600px;
        /* width: 450px; */
        padding: 25px;
        height: 400px;
    }

    .projects-title{
        font-size: 25px;
    }
    
    .project-description{
        font-size: 18.5px;
    }


    .projects-icon{
        font-size: 2.7em;
    }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #name{
        font-size: 100px;
    }
/* 
    #title{
        font-size: 25px;
    }
     */
    /* .intro-icons{
        font-size: 3em;
    } */

    .what-do{
        font-size: 20px;
        width: 70vw;
    }

    .project-links{
        padding:30px 20px;
    }
    
    
    .project-title-section{
        font-size: 70px;
    }
    
    .projects-title{
        font-size:30px;
        
    }
    
    .project-container{
        height: 400px;
        width: 550px;
        
    }
    
    .project-description{
        font-size: 19.5px;
    }
    
}


@media only screen and (min-width: 1400px) {
    #name{
        font-size: 120px;
    }

    .project-container{
        width: 600px;
        padding: 40px;
        height: 400px;
    }
    
    
    .project-links{
        padding: 40px 30px;
    }
    
    .project-description{
        font-size: 18px;
    }

}


@media only screen and (min-width: 1600px) {
    .what-do{
        width: 60vw;
    }
    
    .project-container{
        width: 700px;
        padding: 45px;
        height: 350px;
    }
    
    .project-links{
        padding: 40px 30px;
    }
    
    .projects-title{
        font-size: 30px;
    }
    

}
@media only screen and (min-width: 1900px) {
    .project-container{
        width: 800px;
    }
    
    .project-links{
        padding: 45px 35px;
    }
}


@media only screen and (min-width: 2440px) {

    .project-container{
        width: 700px;
        padding: 50px;
        height: 420px;
    }

    .project-links{
        padding: 35px 40px;
    }

    .projects-icon{
        font-size: 3.5em;
    }

}

