@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Jura:wght@300;500;400&family=Roboto:wght@100&family=Silkscreen&family=Space+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
.background{
    background: linear-gradient(#64c8e6, #9198e5);
    /* background-image:url(../images/stars.svg); */
}
 
#intro-name{
    text-align: center;
    color:azure;
}


#name{
    text-align: center;
    font-size: 100px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: azure;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    backdrop-filter: blur(1px);
}

#title{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    color: white;
}

#icons{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.icon-spacing{
    padding:10px;
}

.container{
    left:0;
    padding-top:10%;
    width:100%;
}


.what-do{
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    padding: 30px 50px;
    font-family: 'Jura';
    font-size: 25px;
    font-weight:  500;
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 50px;
    text-rendering: optimizeLegibility;
    text-shadow: 0.02em 0 rgb(134, 134, 134);
}

.projects{
    width: 100%;
    text-align: center;
}

.project-title-section{
    font-size: 80px;
    padding-bottom: 50px;
    color: azure;
}


.project-links-ul{
    padding: 0;
    
}

.project-links{
    list-style: none;
    padding: 40px;
    display: inline-block;
    
}

.projects-title{
    font-size: 35px;
    padding: 0px 15px;
}

.project-container{    
    font-family: 'Jura';
    border-radius: 50px;
    padding: 50px;
    width:700px;
    background-color: rgb(255,255,255,0.25);
}

.project-container .title-icon-container{
    display: flex;
    justify-content: center;
}

.projects-icon{
    font-size: 4em;
    color: azure;
    -webkit-transform: perspective(1px), translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.project-icon-container{
    padding: 0px 15px;
    
}


@-webkit-keyframes bob{
    0%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
    50%{
        -webkit-transform:translateY(-2px);
        transform: translateY(-2px);
    }
    100%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob{
    0%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
    50%{
        -webkit-transform:translateY(-2px);
        transform: translateY(-2px);
    }
    100%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes bob-float{
    100%{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-float{
    100%{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

}

.projects-icon:hover{
    color: blue;
    -webkit-animation-name: bob-float, bob;
    animation-name: bob-float,bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    /* -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate; */

}





@media only screen and (max-width: 700px) {
    #name{
        font-size: 100px;
    }

    .what-do{
        font-size: 25px;
        letter-spacing: 1px;
        word-spacing: 0px;
        line-height: 40px;
    }

    .project-title{
        font-size:55px;

    }

    .project-container{
        width: 500px;
    }


  }
