@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Jura&family=Silkscreen&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
.background{
    background:  linear-gradient(#64c8e6, #9198e5);
    /* background: linear-gradient(#461937,#c4a1e4); */

    /* background-image:url(../images/stars.svg); */
}

.background-image{
    background:url(../images/stars.svg);
}
 
.intro-container{
    height: 150vh;
}

#intro-name{
    text-align: center;
    color:azure;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}


#name{
    text-align: center;
    font-size: 100px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: azure;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    backdrop-filter: blur(1px);
    animation: slide-up 1.5s ease;
    
}

#title{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    color: white;
    animation: slide-up 2.5s ease;
}

#icons{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    animation: slide-up 3s ease;
}

.intro-icons{
    color: azure;
    font-size: 3.5em;
}

.icon-spacing{
    padding:10px;
}

.container{
    left:0;
    padding-top:10%;
    width:100%;
}

.what-do-container{
    padding: 2% 0%; 
}
.what-do{
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    padding: 40px 50px;
    font-family: 'Jura';
    font-size: 25px;
    font-weight:  100;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 50px;
    text-rendering: optimizeLegibility;
    text-shadow: 0.02em 0 rgb(134, 134, 134);
    animation: slide-up 4s ease;
}

.projects{
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

.project-title-section{
    font-size: 80px;
    padding-top: 5%;
    color: azure;
}


.project-links-ul{
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.project-links{
    list-style: none;
    padding: 40px;
    display: inline-block;
    
}

.projects-title{
    font-size: 35px;
    padding: 0px 15px;
}

.project-container{    
    font-family: 'Jura';
    border-radius: 50px;
    padding: 50px;
    width: 700px;
    height: 300px;
    background-color: rgb(255,255,255,0.25);
    
}

.project-container .title-icon-container{
    display: flex;
    justify-content: center;
}

.projects-icon{
    font-size: 4em;
    color: azure;
    -webkit-transform: perspective(1px), translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.project-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.bob:hover{
    color: blue;
    -webkit-animation-name: bob-float, bob;
    animation-name: bob-float,bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
}

@keyframes slide-up{
    /* from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    } */
    0%{
        transform: translateY(50px);
        opacity: 0.2;
    }
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@-webkit-keyframes bob{
    0%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
    50%{
        -webkit-transform:translateY(-2px);
        transform: translateY(-2px);
    }
    100%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob{
    0%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
    50%{
        -webkit-transform:translateY(-2px);
        transform: translateY(-2px);
    }
    100%{
        -webkit-transform:translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes bob-float{
    100%{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-float{
    100%{
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

}


@media only screen and (max-width:600px){
    #name{
        font-size: 70px;
    }

    .what-do{
        font-size: 15px;
        letter-spacing: 0px;
        word-spacing: 0px;
        line-height:normal;
    }

    .project-links{
        padding: 10px;
    }

    .project-title-section{
        font-size: 60px;
    }

    .project-description{
        display:none;
    }
    
    .project-container{
        width: 300px;
        padding: 30px;
        height: 80px;
    }

    .projects-title{
        font-size: 15px;
    }

    .projects-icon{
        font-size: 1.5em;
    }


}


@media only screen and (min-width: 600px) {
    #name{
        font-size: 100px;
    }

    .what-do{
        font-size: 20px;
        letter-spacing: 1px;
        word-spacing: 2px;
        line-height:40px;
    }

    .projects-title{
        font-size:20px;

    }

    .project-container{
        width: 500px;
        padding: 35px;
        height: 100px;
    }

    .project-title-section{
        font-size: 50px;
    }

    .project-description{
        display: none;
    }

    .projects-icon{
        font-size: 2em;
    }

}

@media only screen and (min-width: 768px){
    .what-do{
        width: 75vw;
        font-size: 20px;
        line-height: 40px;
    }

    .project-container{
        width: 75vw;
        height: 250px;
        padding: 18px;
    }

    .project-description{
        display:flex;
        font-size: 18px;
        letter-spacing: 0px;
        word-spacing: 0px;
        line-height: normal;
        font-family: 'Jura';
    }

    .project-links-ul{
        display: flexbox;
    }

    .project-links{
        padding: 15px 0px;
    }
    
    .projects-icon{
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 992px){
    #name{
        font-size: 120px;
    }
    
    .project-container{
        width: 450px;
        padding: 25px;
        height: 400px;
    }


    .project-links{
        padding: 10px 0px;
    }

    .project-description{
        font-size: 20px;
    }

    .projects-icon{
        font-size: 2.8em;
    }
    .project-links-ul{
        column-count: 2;
    }
}


@media only screen and (min-width: 1200px) {
    #name{
        font-size: 120px;
    }

    .project-links{
        padding:20px;
    }


    .project-title-section{
        font-size: 80px;
    }

    .projects-title{
        font-size:25px;

    }

    .project-container{
        height: 300px;
        width: 550px;
        
    }

    .projects-icon{
        font-size: 3em;
    }

    .project-description{
        font-size: 20px;
    }


}


@media only screen and (min-width: 1400px) {
    #name{
        font-size: 150px;
    }
    

    .project-container{
        width: 650px;
        padding: 40px;
        height: 300px;
    }


    .project-links{
        padding: 10px 0px;
    }

    .project-description{
        font-size: 20px;
    }

    .projects-icon{
        font-size: 2.8em;
    }
}


@media only screen and (min-width: 1600px) {
    .project-container{
        width: 700px;
        padding: 65px;
        height: 350px;
    }

    .project-links{
        padding: 20px 0px;
    }

    .projects-title{
        font-size: 30px;
    }

    .projects-icon{
        font-size: 3.5em;
    }


}
@media only screen and (min-width: 1900px) {
    .project-container{
        width: 800px;
        padding: 80px;
        height: 380px;
    }

    .project-links{
        padding: 30px 0px;
    }
}

@media only screen and (min-width: 2440px) {
    .what-do{
        font-size: 25px;
        font-weight:  100;
        letter-spacing: 1px;
        word-spacing: 3px;
        line-height: 50px;
    }

    .project-container{
        width: 700px;
        padding: 80px;
        height: 500px;
    }

    .project-links{
        padding: 30px 0px;
    }

    .project-links-ul{
        column-count: 3;
    }

    .project-description{
        font-size: 23px;
    }
}


