.background {
  /* background:  linear-gradient(#64c8e6, #9198e5); */
  /* background: linear-gradient(#461937,#c4a1e4); */
  background-image: linear-gradient(#9198e5, #86daf4);
  /* background-color: #121212; */
}

.background-2 {
  background-image: linear-gradient(#86daf4, #0aa0ab);
}

.background-image {
  background: url(../images/stars.svg);
}

.title-prompt {
  color: azure;
}

/* Figma */
.figma-section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.figma {
  text-align: center;
}

.figma-designs {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.fpw-wrapper {
  padding: 20px;
}

.figma-project-wrapper {
  position: relative;
}

.figma-project {
  width: fit-content;
  width: 450px;
  height: 300px;
}

.figma-preview {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.figma-project:hover {
  cursor: pointer;
}

.figma-image {
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figma-project-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.figma-project-title:hover {
  display: block;
  background: rgb(8, 8, 8, 0.5);
  z-index: 2;
}

.figma-link-title {
  padding: 20px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.figma-icon {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.hide {
  display: none;
  transition: 0.5s ease;
}

.figma-preview:hover + .hide {
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #name {
    font-size: 70px;
  }

  .project-links {
    padding: 10px;
  }

  .project-description {
    display: none;
  }

  .project-container {
    width: 300px;
    padding: 30px;
    height: 80px;
  }

  .projects-title {
    font-size: 15px;
  }

  .projects-icon {
    font-size: 1.5em;
  }
  .every-bubble {
    display: none;
  }

  .corner-ribbon__inner {
    height: 5em;
    border-radius: 6em;
  }

  .corner-ribbon__ribbon {
    left: 1.5em;
    position: absolute;
    top: 2em;
    width: 8em;
    height: 1.2em;
  }

  .ribbon-text {
    font-size: 11px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    #name{
        font-size: 85px;
    }
    
    .project-links{
        padding: 20px
    }

    .projects-title{
        font-size:15px;
        
    }
    

    .project-container{
        width: 400px;
        padding: 35px;
        height: 100px;
    }
    
    
    .project-description{
        display: none;
    }
    
    .projects-icon{
        font-size: 2em;
    } 
    

    .every-bubble{
        display:none;
    }

    .corner-ribbon__inner{
        height: 6em;
        border-radius: 2.5em;

    }

    .corner-ribbon__ribbon{
        top:2.5em;
        transform: translate(-38px, -8px) rotate(-40deg);
    }

    .ribbon-text{
        font-size: 17px;
    }

} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px){

    #name{
        font-size: 90px;
    }

    .project-links{
        padding: 25px 10px;
    }

    .project-container{
        max-height: 350px;
        padding: 18px;
    }

    .project-description{
        display:flex;
        font-size: 16px;
        padding: 30px;
    }

    .projects-title{
        font-size: 22px;
    }

    .projects-icon{
        font-size: 2.5em;
    }

    .title-icon-container{
        padding-top: 10px;
    }

    .every-bubble{
        display:inline-block;
    }

    
    .corner-ribbon__inner {
        left: 0px;
        top: 0px;

        height: 10em;
        width: 10em;

    }

    .corner-ribbon__ribbon {
        left: 0em;
        position: absolute;
        top: 3em;

        height: 1.5em;
        width: 12em;

        transform: translate(-38px, -8px) rotate(-45deg);
    }

} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px){
    #name{
        font-size: 95px;
    }

    .project-title-section{
        font-size: 55px;
    }

    .project-links{
        padding: 25px 10px;
    }
    
    .project-container{
        width: 600px;
        padding: 25px;
        height: 420px;
    }

    .projects-title{
        font-size: 25px;
    }
    
    .project-description{
        font-size: 18.5px;
    }


    .projects-icon{
        font-size: 2.7em;
    }


}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    #name{
        font-size: 100px;
    }

    .project-links{
        padding:30px 20px;
    }
    
    
    .project-title-section{
        font-size: 70px;
    }
    
    .projects-title{
        font-size:30px;
        
    }
    
    .project-container{
        height: 475px;
        width: 550px;
        
    }
    
    .project-description{
        font-size: 19.5px;
    }
    
}
 */

/* @media only screen and (min-width: 1400px) {
    #name{
        font-size: 120px;
    }

    .project-container{
        width: 600px;
        padding: 40px;
        height: 450px;
    }
    
    
    .project-links{
        padding: 40px 30px;
    }
    
    .project-description{
        font-size: 18px;
    }

} */

/* @media only screen and (min-width: 1600px) {
    
    .project-container{
        width: 700px;
        padding: 45px;
        height: 450px;
    }
    
    .project-links{
        padding: 40px 30px;
    }
    
    .projects-title{
        font-size: 30px;
    }
    

} */

/* @media only screen and (min-width: 1900px) {
    .project-container{
        width: 800px;
    }
    
    .project-links{
        padding: 45px 35px;
    }
} */

/* @media only screen and (min-width: 2440px) {

    .project-container{
        width: 700px;
        padding: 50px;
        height: 500px;

    }

    .project-links{
        padding: 35px 40px;
    }

    .projects-icon{
        font-size: 3.5em;
    }

}
 */
