 /* @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Jura:wght@300;400&family=Roboto:wght@100&family=Silkscreen&family=Space+Mono&display=swap'); */


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen';
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

 .navbarContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
}
.navbarMenu{
    display: flex;
    list-style: none;
}

.navbarItem{
    padding: 0px 10px;
    justify-content: center;
    text-align: center;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color:antiquewhite;
    transition: all 0.3s ease;
}

